### Task 1.

You are given a list of numbers. Find maximum difference between any two numbers in the list, with the condition that the smaller number must appear on the right from the greater number (i.e. have greater index in the list)

In [ ]:
def maxDiff(n):
    max_val = n[0]
    max_diff = 0
    for i in range(len(n)):
        if (n[i] > max_val):
            max_val = n[i]
        elif (max_val - n[i] > max_diff):
             max_diff = max_val - n[i]
    return max_diff

n = [2,6,3,5,1,7]
print (maxDiff(n))

### Task 2

Fred is a very predictable man. For instance, when he uses his laptop, all he does is watch TV shows. He keeps on watching TV shows until his battery dies. Also, he is a very meticulous man, i.e. he pays great attention to minute details. He has been keeping logs of every time he charged his laptop, which includes how long he charged his laptop for and after that how long was he able to watch the TV. Now, Fred wants to use this log to predict how long will he be able to watch TV for when he starts so that he can plan his activities after watching his TV shows accordingly.
You are given access to Fred’s laptop charging log by reading from the file “trainingdata.txt”. The training data file will consist of 100 lines, each with 2 comma-separated numbers.

1. The first number denotes the amount of time the laptop was charged.
2. The second number denotes the amount of time the battery lasted.

The training data file can be found in Fred.txt file (this will be the same training data used when your program is run). The input for each of the test cases will consist of exactly 1 number rounded to 2 decimal places. For each input, output 1 number: the amount of time you predict his battery will last.

In [9]:
import pandas as pd
from scipy.interpolate import interp1d

fred = pd.read_csv("Fred.txt", header=None, names=["Charged", "Lasted"]) 
fred_sort = fred.sort_values(by='Charged', ascending=True)

y = interp1d(fred_sort.Charged,fred_sort.Lasted)

if __name__ == '__main__':
    tCharged = float(input()) #input charging time
    print(y(tCharged))

3

### Task 3

The money flow index (MFI) is a momentum indicator that measures the inflow and outflow of money into and out of a security over a specific period of time. It is computed as given below, and can assume values between 0 and 100.

* Money Flow Index = 100 x Money Ratio ⁄ (1 + Money Ratio)
* Money Ratio = Positive Money Flow Sum ⁄ Negative Money Flow Sum
* Money Flow = Typical Price × Volume
* Typical Price = (High Price + Low Price + Close Price) ⁄ 3

The concepts of Positive and Negative Money Flow are defined as follows: on any given day, the Money Flow is denoted positive / negative if the Typical Price is higher / lower than the previous day's typical price. If the Typical Price is unchanged then that day's data are discarded. The Positive Money Flow Sum is the sum of all the Positive Money Flow over a sliding window of n days. The Negative Money Flow Sum is the sum of all the Negative Money Flow over a sliding window of n days.

Given the stock price data consisting of open, close, volume, low, and high price, calculate the Money Flow Index for each day over a sliding window of n days (n will be given). The first Money Flow Index value is calculated for the (n + 1)th day.

Function Description Create the moneyFlowIndex function. The function must create a file money_flow_index_[n].csv containing the headers: Day, Open, High, Low, Close, Volume, Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative Money Flow Sum, and Money Flow Index as described in the examples above. The money flow index should be calculated over a sliding window of n days, inclusive of the day for which it is calculated. No return value is expected.

moneyFlowIndex has two parameters: filename: a string describing the name of the input CSV file containing the headers: Day, Open, High, Low, Close, and Volume n: an integer
Evaluation The output file must meet the following conditions:

* The output CSV file must contain the headers in the given order: Day, Open, High, Low, Close, Volume, Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative Money Flow Sum, and Money Flow Index.
* The Day, Open, High, Low, Close, and Volume must exactly match with the values given in the input CSV file.
* The computed values of Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative
* Money Flow Sum, and Money Flow Index value should not deviate from the correct values by more than 10-6.

The values of n provided will always be such that it is possible to calculate the money flow index over n days.

In [16]:
import numpy as np
import pandas as pd

def moneyFlowIndex(filename, n):
    df = pd.read_csv(filename, index_col = "Day")
    for i in range(1, len("Day")):
        df['Typical Price'] = (df.High + df.Low + df.Close)/3
    df['Positive Money Flow'] = np.where(df['Typical Price'].shift(1) < df['Typical Price'],df['Typical Price']*df['Volume'] , 0)
    df['Negative Money Flow'] = np.where(df['Typical Price'].shift(1) > df['Typical Price'],df['Typical Price']*df['Volume'] , 0)
    df['Positive Money Flow Sum'] = pd.to_numeric(df['Positive Money Flow']).rolling(n).sum()
    df['Negative Money Flow Sum'] = pd.to_numeric(df['Negative Money Flow']).rolling(n).sum()
    MoneyRatio = df['Positive Money Flow Sum'] / df['Negative Money Flow Sum']
    df['Money Flow Index'] = (100 * (MoneyRatio) / (1 + MoneyRatio))
    df = df.round(2)
    df = df.replace(0,np.nan)
    df.to_csv('money_flow_index_' + str(n) +'.csv')
    display(df)

In [17]:
filename = "./mfiData.csv"
n = 10
moneyFlowIndex(filename, n)

,Open,High,Low,Close,Volume,Typical Price,Positive Money Flow,Negative Money Flow,Positive Money Flow Sum,Negative Money Flow Sum,Money Flow Index
Day,,,,,,,,,,,
1,47.04,48.24,47.04,48.15,3509,47.81,NaN,NaN,NaN,NaN,NaN
2,48.17,48.89,47.97,48.36,4862,48.41,235353.21,NaN,NaN,NaN,NaN
3,48.55,49.71,48.52,49.55,1810,49.26,89160.60,NaN,NaN,NaN,NaN
4,49.55,49.87,48.51,49.41,3824,49.26,188382.99,NaN,NaN,NaN,NaN
5,49.41,49.96,45.84,46.36,2209,47.39,NaN,104677.15,NaN,NaN,NaN
6,46.35,46.51,44.61,45.60,4558,45.57,NaN,207723.25,NaN,NaN,NaN
7,45.54,45.54,43.63,44.02,3832,44.40,NaN,170128.03,NaN,NaN,NaN
8,44.05,44.49,43.19,43.57,3778,43.75,NaN,165287.50,NaN,NaN,NaN
9,43.63,45.29,43.63,45.00,1005,44.64,44863.20,NaN,NaN,NaN,NaN
10,44.96,44.96,42.88,43.44,4047,43.76,NaN,177096.72,557760.00,824912.65,40.34
11,43.44,45.01,43.24,44.90,2201,44.38,97687.72,NaN,655447.72,824912.65,44.28
12,44.90,45.53,44.76,45.18,2507,45.16,113207.76,NaN,533302.27,824912.65,39.26
13,45.13,45.13,43.78,44.39,4392,44.43,NaN,195151.20,444141.67,1020063.85,30.33
14,44.09,44.24,42.70,42.95,3497,43.30,NaN,151408.44,255758.68,1171472.29,17.92
15,43.09,43.57,42.56,43.08,1181,43.07,NaN,50865.67,255758.68,1117660.81,18.62
16,42.94,43.90,42.25,42.52,1971,42.89,NaN,84536.19,255758.68,994473.75,20.46
17,42.64,44.08,42.62,43.99,4994,43.56,217555.29,NaN,473313.97,824345.72,36.47
18,43.99,45.32,43.90,45.23,2017,44.82,90395.22,NaN,563709.18,659058.22,46.10
19,45.23,45.62,44.37,44.82,2823,44.94,126856.21,NaN,645702.19,659058.22,49.49
20,44.83,45.73,44.03,45.63,2774,45.13,125190.62,NaN,770892.81,481961.50,61.53

### Task 4

You are given an array in which all values appear exactly twice, except one value that appears odd number of times. Order of values is arbitrary. Find that value, but with following constrains:

* You may loop through the array only once.
* You may not use variables of complex type (e.g. lists, sets, etc.), but only one variable which stores a single value (e.g. bool, int, float, char).

In [14]:
def oddtimes(n):
    XOR = 0
    for num in n:
        XOR^=num
    return XOR

n = [3,5,1,19,5,3,3,2,2,1,19]
print (oddtimes(n))

3